%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .nav.navbar-nav.navbar-right
      = link_to 'Product View', index_path, class: 'btn btn-default navbar-btn add-product'
      = link_to new_category_path, class: 'btn btn-success navbar-btn add-product' do
        %i.glyphicon.glyphicon-plus
        %span New Category
      = link_to new_product_path, class: 'btn btn-success navbar-btn add-product-to-category' do
        %i.glyphicon.glyphicon-plus
        %span New Product
.container
  .row
    .col-sm-12
      %h1.text-center.index-header Your Inventory!
      - if flash[:success]
        #flash.success.text-center
          = flash[:success]
      %table.table.table-border.table-hover.table-responsive
        %thead
          %tr.table-active
            %th.text-left Categories
            %th.text-left Product Name
            %th.text-left Price ($USD)
            %th.text-left Inventory
        %tbody
          - @categories.each do |category|
            %tr
              %th.text-left= category.name
              %td
              %td
              %td
              %td.text-right
                = link_to 'Delete Category', category_path(category), :method => 'delete', class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this category? This action can not be undone.'}
            - category.products.each do |product|
              %tr
                %th.text-center
                %td.text-left= product.name
                %td.text-left
                  $#{product.price}
                %td.text-left= product.inventory
                %td.text-right
                  = link_to 'Edit', edit_product_path(product), class: 'btn btn-primary'
                  = link_to 'Delete', product_path(product), :method => 'delete', class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this product? This action can not be undone.'}