%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .nav.navbar-nav.navbar-right
      = link_to 'Category List', admin_index_path, class: 'btn btn-default navbar-btn add-product'
.container
  .row
    .col-lg-12
      = form_for @category, html: { class: 'form-horizontal center', id: 'edit-form' } do |f|
        %h1.text-center.edit-header
          Edit #{@category.name}
          .form-group
            = f.label :name, 'Category Name:', class: 'col-lg-4 control-label'
            .col-md-8
              = f.text_field :name, class: 'form-control'
          .col-md-offset-4.col-md-8.update-button
            = f.submit 'Update Product', class: 'btn btn-primary btn-lg center-block'