%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .nav.navbar-nav.navbar-right
      - if !current_user
        = link_to 'Register', new_user_registration_path, class: 'btn btn-success navbar-btn add-product'
        = link_to 'User Login', new_user_session_path, class: 'btn btn-success navbar-btn add-product'
      - elsif current_user.admin?
        = link_to 'Manage Inventory', admin_index_path, class: 'btn btn-success navbar-btn add-product'
        = link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-success navbar-btn add-product'
      - else
        = link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-success navbar-btn add-product'
.container
  .row
    - if flash[:error]
      #flash.error.text-center
        = flash[:error]
    .col-sm-12
      %h1.text-center.index-header Welcome to our store!
    .col-lg-3.col-md-4.col-sm-6-col-xs-12
      - @categories.each do |category|
        %h4
          %a{:href => category_path(category)}= category.name