%img{src: @product.image_url}
%ul.list-group
  %li.list-group-item= "Name: #{@product.name}"
  %li.list-group-item= "Price: #{number_to_currency(@product.price)}"
  %li.list-group-item= "Description: #{@product.description}"

= link_to 'Edit', edit_product_path(@product), { class: "btn btn-success" }
= link_to 'Back', products_path, { class: "btn btn-primary  " }
