<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="nav navbar-nav navbar-right">
      <% if !current_user %>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-success navbar-btn add-product' %>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-success navbar-btn add-product' %>
      <% elsif current_user.admin? %>
        <%= link_to 'Manage Inventory', admin_index_path, class: 'btn btn-success navbar-btn add-product' %>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-success navbar-btn add-product' %>
      <% else %>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-success navbar-btn add-product' %>
      <% end %>
      <%= link_to 'Categories', categories_path, class: 'btn btn-success navbar-btn add-product' %>
      <%= link_to 'Contact Us', visitors_path, class: 'btn btn-success navbar-btn add-product' %>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <% if flash[:success] %>
      <div class="success text-center" id="flash">
        <%= flash[:success] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="error text-center" id="flash">
        <%= flash[:error] %>
      </div>
    <% end %>
    <div class="col-sm-12">
      <h1 class="text-center index-header">Hi <%= @current_user.username.capitalize %>, below is your order smmary</h1>

        <table class="table">
          <thead>
            <tr>
              <th class="col-md-1">Item</th>
              <th class="col-md-2">Image</th>
              <th class="col-md-2">Product Name</th>
              <th class="col-md-1">Price (USD)</th>
              <th class="col-md-1">Stock left</th>
              <th class="col-md-1 text-center">Quantity</th>
              <th class="col-md-1"></th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_products.each_with_index do |order_product, index| %>
              <tr class="itemRow">
                <th scope="row"><%=index + 1%></th>
                <td><img alt="<%= order_product.name %> Image" src="<%= order_product.product_image %>" class="img-thumbnail"></td>
                <td><%= link_to "#{order_product.name}", product_path(order_product.product) %></td>
                <td>$<%= order_product.price %></td>
                <td><%= order_product.inventory %></td>
                <td>
                  <div class="text-center">
                    <button class="btn btn-primary-outline">
                      <%= link_to '+',user_order_add_quantity_path(order_id: @order.id, id: order_product.id), method: 'add_quantity' %>
                    </button>
                    <input size='2' type="text" value="<%= order_product.quantity%>">
                    <button class="btn btn-primary-outline">
                      <%= link_to '-',user_order_reduce_quantity_path(order_id: @order.id, id: order_product.id), method: 'reduce_quantity' %>
                    </button>
                  </div>
                </td>
                <td class="remove-button text-center"><%= link_to 'Remove',user_order_order_product_path(order_id: @order.id, id: order_product.id), method: 'delete', class: 'remove-button btn btn-danger' %></td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="grand-total">Grand Total: $<span><%= @order.products.map(&:price).reduce(:+) %></span></td>
              <td></td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button id="checkout-button" class="btn btn-primary navbar-btn add-product">Checkout</button></td>
            </tr>
          </tbody>
        </table>
      
    </div>
  </div>
</div>


